<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>❤️</key>
<string>❤️</string>
<key>💛</key>
<string>💛</string>
<key>💚</key>
<string>💚</string>
<key>💙</key>
<string>💙</string>
<key>💜</key>
<string>💜</string>
<key>🖤</key>
<string>🖤</string>
<key>💔</key>
<string>💔</string>
<key>❣️</key>
<string>❣️</string>
<key>💕</key>
<string>💕</string>
<key>💞</key>
<string>💞</string>
<key>💓</key>
<string>💓</string>
<key>💗</key>
<string>💗</string>
<key>💖</key>
<string>💖</string>
<key>💘</key>
<string>💘</string>
<key>💝</key>
<string>💝</string>
<key>💟</key>
<string>💟</string>
<key>☮️</key>
<string>☮️</string>
<key>✝️</key>
<string>✝️</string>
<key>☪️</key>
<string>☪️</string>
<key>🕉</key>
<string>🕉</string>
<key>☸️</key>
<string>☸️</string>
<key>✡️</key>
<string>✡️</string>
<key>🔯</key>
<string>🔯</string>
<key>🕎</key>
<string>🕎</string>
<key>☯️</key>
<string>☯️</string>
<key>☦️</key>
<string>☦️</string>
<key>🛐</key>
<string>🛐</string>
<key>⛎</key>
<string>⛎</string>
<key>♈️</key>
<string>♈️</string>
<key>♉️</key>
<string>♉️</string>
<key>♊️</key>
<string>♊️</string>
<key>♋️</key>
<string>♋️</string>
<key>♌️</key>
<string>♌️</string>
<key>♍️</key>
<string>♍️</string>
<key>♎️</key>
<string>♎️</string>
<key>♏️</key>
<string>♏️</string>
<key>♐️</key>
<string>♐️</string>
<key>♑️</key>
<string>♑️</string>
<key>♒️</key>
<string>♒️</string>
<key>♓️</key>
<string>♓️</string>
<key>🆔</key>
<string>🆔</string>
<key>⚛️</key>
<string>⚛️</string>
<key>🉑</key>
<string>🉑</string>
<key>☢️</key>
<string>☢️</string>
<key>☣️</key>
<string>☣️</string>
<key>📴</key>
<string>📴</string>
<key>📳</key>
<string>📳</string>
<key>🈶</key>
<string>🈶</string>
<key>🈚️</key>
<string>🈚️</string>
<key>🈸</key>
<string>🈸</string>
<key>🈺</key>
<string>🈺</string>
<key>🈷️</key>
<string>🈷️</string>
<key>✴️</key>
<string>✴️</string>
<key>🆚</key>
<string>🆚</string>
<key>💮</key>
<string>💮</string>
<key>🉐</key>
<string>🉐</string>
<key>㊙️</key>
<string>㊙️</string>
<key>㊗️</key>
<string>㊗️</string>
<key>🈴</key>
<string>🈴</string>
<key>🈵</key>
<string>🈵</string>
<key>🈹</key>
<string>🈹</string>
<key>🈲</key>
<string>🈲</string>
<key>🅰️</key>
<string>🅰️</string>
<key>🅱️</key>
<string>🅱️</string>
<key>🆎</key>
<string>🆎</string>
<key>🆑</key>
<string>🆑</string>
<key>🅾️</key>
<string>🅾️</string>
<key>🆘</key>
<string>🆘</string>
<key>❌</key>
<string>❌</string>
<key>⭕️</key>
<string>⭕️</string>
<key>🛑</key>
<string>🛑</string>
<key>⛔️</key>
<string>⛔️</string>
<key>📛</key>
<string>📛</string>
<key>🚫</key>
<string>🚫</string>
<key>💯</key>
<string>💯</string>
<key>💢</key>
<string>💢</string>
<key>♨️</key>
<string>♨️</string>
<key>🚷</key>
<string>🚷</string>
<key>🚯</key>
<string>🚯</string>
<key>🚳</key>
<string>🚳</string>
<key>🚱</key>
<string>🚱</string>
<key>🔞</key>
<string>🔞</string>
<key>📵</key>
<string>📵</string>
<key>🚭</key>
<string>🚭</string>
<key>❗️</key>
<string>❗️</string>
<key>❕</key>
<string>❕</string>
<key>❓</key>
<string>❓</string>
<key>❔</key>
<string>❔</string>
<key>‼️</key>
<string>‼️</string>
<key>⁉️</key>
<string>⁉️</string>
<key>🔅</key>
<string>🔅</string>
<key>🔆</key>
<string>🔆</string>
<key>〽️</key>
<string>〽️</string>
<key>⚠️</key>
<string>⚠️</string>
<key>🚸</key>
<string>🚸</string>
<key>🔱</key>
<string>🔱</string>
<key>⚜️</key>
<string>⚜️</string>
<key>🔰</key>
<string>🔰</string>
<key>♻️</key>
<string>♻️</string>
<key>✅</key>
<string>✅</string>
<key>🈯️</key>
<string>🈯️</string>
<key>💹</key>
<string>💹</string>
<key>❇️</key>
<string>❇️</string>
<key>✳️</key>
<string>✳️</string>
<key>❎</key>
<string>❎</string>
<key>🌐</key>
<string>🌐</string>
<key>💠</key>
<string>💠</string>
<key>Ⓜ️</key>
<string>Ⓜ️</string>
<key>🌀</key>
<string>🌀</string>
<key>💤</key>
<string>💤</string>
<key>🏧</key>
<string>🏧</string>
<key>🚾</key>
<string>🚾</string>
<key>♿️</key>
<string>♿️</string>
<key>🅿️</key>
<string>🅿️</string>
<key>🈳</key>
<string>🈳</string>
<key>🈂️</key>
<string>🈂️</string>
<key>🛂</key>
<string>🛂</string>
<key>🛃</key>
<string>🛃</string>
<key>🛄</key>
<string>🛄</string>
<key>🛅</key>
<string>🛅</string>
<key>🚹</key>
<string>🚹</string>
<key>🚺</key>
<string>🚺</string>
<key>🚼</key>
<string>🚼</string>
<key>🚻</key>
<string>🚻</string>
<key>🚮</key>
<string>🚮</string>
<key>🎦</key>
<string>🎦</string>
<key>📶</key>
<string>📶</string>
<key>🈁</key>
<string>🈁</string>
<key>🔣</key>
<string>🔣</string>
<key>ℹ️</key>
<string>ℹ️</string>
<key>🔤</key>
<string>🔤</string>
<key>🔡</key>
<string>🔡</string>
<key>🔠</key>
<string>🔠</string>
<key>🆖</key>
<string>🆖</string>
<key>🆗</key>
<string>🆗</string>
<key>🆙</key>
<string>🆙</string>
<key>🆒</key>
<string>🆒</string>
<key>🆕</key>
<string>🆕</string>
<key>🆓</key>
<string>🆓</string>
<key>0️⃣</key>
<string>0️⃣</string>
<key>1️⃣</key>
<string>1️⃣</string>
<key>2️⃣</key>
<string>2️⃣</string>
<key>3️⃣</key>
<string>3️⃣</string>
<key>4️⃣</key>
<string>4️⃣</string>
<key>5️⃣</key>
<string>5️⃣</string>
<key>6️⃣</key>
<string>6️⃣</string>
<key>7️⃣</key>
<string>7️⃣</string>
<key>8️⃣</key>
<string>8️⃣</string>
<key>9️⃣</key>
<string>9️⃣</string>
<key>🔟</key>
<string>🔟</string>
<key>🔢</key>
<string>🔢</string>
<key>#️⃣</key>
<string>#️⃣</string>
<key>*️⃣</key>
<string>*️⃣</string>
<key>▶️</key>
<string>▶️</string>
<key>⏸</key>
<string>⏸</string>
<key>⏯</key>
<string>⏯</string>
<key>⏹</key>
<string>⏹</string>
<key>⏺</key>
<string>⏺</string>
<key>⏭</key>
<string>⏭</string>
<key>⏮</key>
<string>⏮</string>
<key>⏩</key>
<string>⏩</string>
<key>⏪</key>
<string>⏪</string>
<key>⏫</key>
<string>⏫</string>
<key>⏬</key>
<string>⏬</string>
<key>◀️</key>
<string>◀️</string>
<key>🔼</key>
<string>🔼</string>
<key>🔽</key>
<string>🔽</string>
<key>➡️</key>
<string>➡️</string>
<key>⬅️</key>
<string>⬅️</string>
<key>⬆️</key>
<string>⬆️</string>
<key>⬇️</key>
<string>⬇️</string>
<key>↗️</key>
<string>↗️</string>
<key>↘️</key>
<string>↘️</string>
<key>↙️</key>
<string>↙️</string>
<key>↖️</key>
<string>↖️</string>
<key>↕️</key>
<string>↕️</string>
<key>↔️</key>
<string>↔️</string>
<key>↪️</key>
<string>↪️</string>
<key>↩️</key>
<string>↩️</string>
<key>⤴️</key>
<string>⤴️</string>
<key>⤵️</key>
<string>⤵️</string>
<key>🔀</key>
<string>🔀</string>
<key>🔁</key>
<string>🔁</string>
<key>🔂</key>
<string>🔂</string>
<key>🔄</key>
<string>🔄</string>
<key>🔃</key>
<string>🔃</string>
<key>🎵</key>
<string>🎵</string>
<key>🎶</key>
<string>🎶</string>
<key>➕</key>
<string>➕</string>
<key>➖</key>
<string>➖</string>
<key>➗</key>
<string>➗</string>
<key>✖️</key>
<string>✖️</string>
<key>💲</key>
<string>💲</string>
<key>💱</key>
<string>💱</string>
<key>™️</key>
<string>™️</string>
<key>©️</key>
<string>©️</string>
<key>®️</key>
<string>®️</string>
<key>〰️</key>
<string>〰️</string>
<key>➰</key>
<string>➰</string>
<key>➿</key>
<string>➿</string>
<key>🔚</key>
<string>🔚</string>
<key>🔙</key>
<string>🔙</string>
<key>🔛</key>
<string>🔛</string>
<key>🔝</key>
<string>🔝</string>
<key>✔️</key>
<string>✔️</string>
<key>☑️</key>
<string>☑️</string>
<key>🔘</key>
<string>🔘</string>
<key>⚪️</key>
<string>⚪️</string>
<key>⚫️</key>
<string>⚫️</string>
<key>🔴</key>
<string>🔴</string>
<key>🔵</key>
<string>🔵</string>
<key>🔺</key>
<string>🔺</string>
<key>🔻</key>
<string>🔻</string>
<key>🔸</key>
<string>🔸</string>
<key>🔹</key>
<string>🔹</string>
<key>🔶</key>
<string>🔶</string>
<key>🔷</key>
<string>🔷</string>
<key>🔳</key>
<string>🔳</string>
<key>🔲</key>
<string>🔲</string>
<key>▪️</key>
<string>▪️</string>
<key>▫️</key>
<string>▫️</string>
<key>◾️</key>
<string>◾️</string>
<key>◽️</key>
<string>◽️</string>
<key>◼️</key>
<string>◼️</string>
<key>◻️</key>
<string>◻️</string>
<key>⬛️</key>
<string>⬛️</string>
<key>⬜️</key>
<string>⬜️</string>
<key>🔈</key>
<string>🔈</string>
<key>🔇</key>
<string>🔇</string>
<key>🔉</key>
<string>🔉</string>
<key>🔊</key>
<string>🔊</string>
<key>🔔</key>
<string>🔔</string>
<key>🔕</key>
<string>🔕</string>
<key>📣</key>
<string>📣</string>
<key>📢</key>
<string>📢</string>
<key>👁‍🗨</key>
<string>👁‍🗨</string>
<key>💬</key>
<string>💬</string>
<key>💭</key>
<string>💭</string>
<key>🗯</key>
<string>🗯</string>
<key>♠️</key>
<string>♠️</string>
<key>♣️</key>
<string>♣️</string>
<key>♥️</key>
<string>♥️</string>
<key>♦️</key>
<string>♦️</string>
<key>🃏</key>
<string>🃏</string>
<key>🎴</key>
<string>🎴</string>
<key>🀄️</key>
<string>🀄️</string>
<key>🕐</key>
<string>🕐</string>
<key>🕑</key>
<string>🕑</string>
<key>🕒</key>
<string>🕒</string>
<key>🕓</key>
<string>🕓</string>
<key>🕔</key>
<string>🕔</string>
<key>🕕</key>
<string>🕕</string>
<key>🕖</key>
<string>🕖</string>
<key>🕗</key>
<string>🕗</string>
<key>🕘</key>
<string>🕘</string>
<key>🕙</key>
<string>🕙</string>
<key>🕚</key>
<string>🕚</string>
<key>🕛</key>
<string>🕛</string>
<key>🕜</key>
<string>🕜</string>
<key>🕝</key>
<string>🕝</string>
<key>🕞</key>
<string>🕞</string>
<key>🕟</key>
<string>🕟</string>
<key>🕠</key>
<string>🕠</string>
<key>🕡</key>
<string>🕡</string>
<key>🕢</key>
<string>🕢</string>
<key>🕣</key>
<string>🕣</string>
<key>🕤</key>
<string>🕤</string>
<key>🕥</key>
<string>🕥</string>
<key>🕦</key>
<string>🕦</string>
<key>🕧</key>
<string>🕧</string>
<key>❤️</key>
<string>❤️</string>
<key>💛</key>
<string>💛</string>
<key>💚</key>
<string>💚</string>
<key>💙</key>
<string>💙</string>
<key>💜</key>
<string>💜</string>
<key>🖤</key>
<string>🖤</string>
<key>💔</key>
<string>💔</string>
<key>❣️</key>
<string>❣️</string>
<key>💕</key>
<string>💕</string>
<key>💞</key>
<string>💞</string>
<key>💓</key>
<string>💓</string>
<key>💗</key>
<string>💗</string>
<key>💖</key>
<string>💖</string>
<key>💘</key>
<string>💘</string>
<key>💝</key>
<string>💝</string>
<key>💟</key>
<string>💟</string>
<key>☮️</key>
<string>☮️</string>
<key>✝️</key>
<string>✝️</string>
<key>☪️</key>
<string>☪️</string>
<key>🕉</key>
<string>🕉</string>
<key>☸️</key>
<string>☸️</string>
<key>✡️</key>
<string>✡️</string>
<key>🔯</key>
<string>🔯</string>
<key>🕎</key>
<string>🕎</string>
<key>☯️</key>
<string>☯️</string>
<key>☦️</key>
<string>☦️</string>
<key>🛐</key>
<string>🛐</string>
<key>⛎</key>
<string>⛎</string>
<key>♈️</key>
<string>♈️</string>
<key>♉️</key>
<string>♉️</string>
<key>♊️</key>
<string>♊️</string>
<key>♋️</key>
<string>♋️</string>
<key>♌️</key>
<string>♌️</string>
<key>♍️</key>
<string>♍️</string>
<key>♎️</key>
<string>♎️</string>
<key>♏️</key>
<string>♏️</string>
<key>♐️</key>
<string>♐️</string>
<key>♑️</key>
<string>♑️</string>
<key>♒️</key>
<string>♒️</string>
<key>♓️</key>
<string>♓️</string>
<key>🆔</key>
<string>🆔</string>
<key>⚛️</key>
<string>⚛️</string>
<key>🉑</key>
<string>🉑</string>
<key>☢️</key>
<string>☢️</string>
<key>☣️</key>
<string>☣️</string>
<key>📴</key>
<string>📴</string>
<key>📳</key>
<string>📳</string>
<key>🈶</key>
<string>🈶</string>
<key>🈚️</key>
<string>🈚️</string>
<key>🈸</key>
<string>🈸</string>
<key>🈺</key>
<string>🈺</string>
<key>🈷️</key>
<string>🈷️</string>
<key>✴️</key>
<string>✴️</string>
<key>🆚</key>
<string>🆚</string>
<key>💮</key>
<string>💮</string>
<key>🉐</key>
<string>🉐</string>
<key>㊙️</key>
<string>㊙️</string>
<key>㊗️</key>
<string>㊗️</string>
<key>🈴</key>
<string>🈴</string>
<key>🈵</key>
<string>🈵</string>
<key>🈹</key>
<string>🈹</string>
<key>🈲</key>
<string>🈲</string>
<key>🅰️</key>
<string>🅰️</string>
<key>🅱️</key>
<string>🅱️</string>
<key>🆎</key>
<string>🆎</string>
<key>🆑</key>
<string>🆑</string>
<key>🅾️</key>
<string>🅾️</string>
<key>🆘</key>
<string>🆘</string>
<key>❌</key>
<string>❌</string>
<key>⭕️</key>
<string>⭕️</string>
<key>🛑</key>
<string>🛑</string>
<key>⛔️</key>
<string>⛔️</string>
<key>📛</key>
<string>📛</string>
<key>🚫</key>
<string>🚫</string>
<key>💯</key>
<string>💯</string>
<key>💢</key>
<string>💢</string>
<key>♨️</key>
<string>♨️</string>
<key>🚷</key>
<string>🚷</string>
<key>🚯</key>
<string>🚯</string>
<key>🚳</key>
<string>🚳</string>
<key>🚱</key>
<string>🚱</string>
<key>🔞</key>
<string>🔞</string>
<key>📵</key>
<string>📵</string>
<key>🚭</key>
<string>🚭</string>
<key>❗️</key>
<string>❗️</string>
<key>❕</key>
<string>❕</string>
<key>❓</key>
<string>❓</string>
<key>❔</key>
<string>❔</string>
<key>‼️</key>
<string>‼️</string>
<key>⁉️</key>
<string>⁉️</string>
<key>🔅</key>
<string>🔅</string>
<key>🔆</key>
<string>🔆</string>
<key>〽️</key>
<string>〽️</string>
<key>⚠️</key>
<string>⚠️</string>
<key>🚸</key>
<string>🚸</string>
<key>🔱</key>
<string>🔱</string>
<key>⚜️</key>
<string>⚜️</string>
<key>🔰</key>
<string>🔰</string>
<key>♻️</key>
<string>♻️</string>
<key>✅</key>
<string>✅</string>
<key>🈯️</key>
<string>🈯️</string>
<key>💹</key>
<string>💹</string>
<key>❇️</key>
<string>❇️</string>
<key>✳️</key>
<string>✳️</string>
<key>❎</key>
<string>❎</string>
<key>🌐</key>
<string>🌐</string>
<key>💠</key>
<string>💠</string>
<key>Ⓜ️</key>
<string>Ⓜ️</string>
<key>🌀</key>
<string>🌀</string>
<key>💤</key>
<string>💤</string>
<key>🏧</key>
<string>🏧</string>
<key>🚾</key>
<string>🚾</string>
<key>♿️</key>
<string>♿️</string>
<key>🅿️</key>
<string>🅿️</string>
<key>🈳</key>
<string>🈳</string>
<key>🈂️</key>
<string>🈂️</string>
<key>🛂</key>
<string>🛂</string>
<key>🛃</key>
<string>🛃</string>
<key>🛄</key>
<string>🛄</string>
<key>🛅</key>
<string>🛅</string>
<key>🚹</key>
<string>🚹</string>
<key>🚺</key>
<string>🚺</string>
<key>🚼</key>
<string>🚼</string>
<key>🚻</key>
<string>🚻</string>
<key>🚮</key>
<string>🚮</string>
<key>🎦</key>
<string>🎦</string>
<key>📶</key>
<string>📶</string>
<key>🈁</key>
<string>🈁</string>
<key>🔣</key>
<string>🔣</string>
<key>ℹ️</key>
<string>ℹ️</string>
<key>🔤</key>
<string>🔤</string>
<key>🔡</key>
<string>🔡</string>
<key>🔠</key>
<string>🔠</string>
<key>🆖</key>
<string>🆖</string>
<key>🆗</key>
<string>🆗</string>
<key>🆙</key>
<string>🆙</string>
<key>🆒</key>
<string>🆒</string>
<key>🆕</key>
<string>🆕</string>
<key>🆓</key>
<string>🆓</string>
<key>0️⃣</key>
<string>0️⃣</string>
<key>1️⃣</key>
<string>1️⃣</string>
<key>2️⃣</key>
<string>2️⃣</string>
<key>3️⃣</key>
<string>3️⃣</string>
<key>4️⃣</key>
<string>4️⃣</string>
<key>5️⃣</key>
<string>5️⃣</string>
<key>6️⃣</key>
<string>6️⃣</string>
<key>7️⃣</key>
<string>7️⃣</string>
<key>8️⃣</key>
<string>8️⃣</string>
<key>9️⃣</key>
<string>9️⃣</string>
<key>🔟</key>
<string>🔟</string>
<key>🔢</key>
<string>🔢</string>
<key>#️⃣</key>
<string>#️⃣</string>
<key>*️⃣</key>
<string>*️⃣</string>
<key>▶️</key>
<string>▶️</string>
<key>⏸</key>
<string>⏸</string>
<key>⏯</key>
<string>⏯</string>
<key>⏹</key>
<string>⏹</string>
<key>⏺</key>
<string>⏺</string>
<key>⏭</key>
<string>⏭</string>
<key>⏮</key>
<string>⏮</string>
<key>⏩</key>
<string>⏩</string>
<key>⏪</key>
<string>⏪</string>
<key>⏫</key>
<string>⏫</string>
<key>⏬</key>
<string>⏬</string>
<key>◀️</key>
<string>◀️</string>
<key>🔼</key>
<string>🔼</string>
<key>🔽</key>
<string>🔽</string>
<key>➡️</key>
<string>➡️</string>
<key>⬅️</key>
<string>⬅️</string>
<key>⬆️</key>
<string>⬆️</string>
<key>⬇️</key>
<string>⬇️</string>
<key>↗️</key>
<string>↗️</string>
<key>↘️</key>
<string>↘️</string>
<key>↙️</key>
<string>↙️</string>
<key>↖️</key>
<string>↖️</string>
<key>↕️</key>
<string>↕️</string>
<key>↔️</key>
<string>↔️</string>
<key>↪️</key>
<string>↪️</string>
<key>↩️</key>
<string>↩️</string>
<key>⤴️</key>
<string>⤴️</string>
<key>⤵️</key>
<string>⤵️</string>
<key>🔀</key>
<string>🔀</string>
<key>🔁</key>
<string>🔁</string>
<key>🔂</key>
<string>🔂</string>
<key>🔄</key>
<string>🔄</string>
<key>🔃</key>
<string>🔃</string>
<key>🎵</key>
<string>🎵</string>
<key>🎶</key>
<string>🎶</string>
<key>➕</key>
<string>➕</string>
<key>➖</key>
<string>➖</string>
<key>➗</key>
<string>➗</string>
<key>✖️</key>
<string>✖️</string>
<key>💲</key>
<string>💲</string>
<key>💱</key>
<string>💱</string>
<key>™️</key>
<string>™️</string>
<key>©️</key>
<string>©️</string>
<key>®️</key>
<string>®️</string>
<key>〰️</key>
<string>〰️</string>
<key>➰</key>
<string>➰</string>
<key>➿</key>
<string>➿</string>
<key>🔚</key>
<string>🔚</string>
<key>🔙</key>
<string>🔙</string>
<key>🔛</key>
<string>🔛</string>
<key>🔝</key>
<string>🔝</string>
<key>✔️</key>
<string>✔️</string>
<key>☑️</key>
<string>☑️</string>
<key>🔘</key>
<string>🔘</string>
<key>⚪️</key>
<string>⚪️</string>
<key>⚫️</key>
<string>⚫️</string>
<key>🔴</key>
<string>🔴</string>
<key>🔵</key>
<string>🔵</string>
<key>🔺</key>
<string>🔺</string>
<key>🔻</key>
<string>🔻</string>
<key>🔸</key>
<string>🔸</string>
<key>🔹</key>
<string>🔹</string>
<key>🔶</key>
<string>🔶</string>
<key>🔷</key>
<string>🔷</string>
<key>🔳</key>
<string>🔳</string>
<key>🔲</key>
<string>🔲</string>
<key>▪️</key>
<string>▪️</string>
<key>▫️</key>
<string>▫️</string>
<key>◾️</key>
<string>◾️</string>
<key>◽️</key>
<string>◽️</string>
<key>◼️</key>
<string>◼️</string>
<key>◻️</key>
<string>◻️</string>
<key>⬛️</key>
<string>⬛️</string>
<key>⬜️</key>
<string>⬜️</string>
<key>🔈</key>
<string>🔈</string>
<key>🔇</key>
<string>🔇</string>
<key>🔉</key>
<string>🔉</string>
<key>🔊</key>
<string>🔊</string>
<key>🔔</key>
<string>🔔</string>
<key>🔕</key>
<string>🔕</string>
<key>📣</key>
<string>📣</string>
<key>📢</key>
<string>📢</string>
<key>👁‍🗨</key>
<string>👁‍🗨</string>
<key>💬</key>
<string>💬</string>
<key>💭</key>
<string>💭</string>
<key>🗯</key>
<string>🗯</string>
<key>♠️</key>
<string>♠️</string>
<key>♣️</key>
<string>♣️</string>
<key>♥️</key>
<string>♥️</string>
<key>♦️</key>
<string>♦️</string>
<key>🃏</key>
<string>🃏</string>
<key>🎴</key>
<string>🎴</string>
<key>🀄️</key>
<string>🀄️</string>
<key>🕐</key>
<string>🕐</string>
<key>🕑</key>
<string>🕑</string>
<key>🕒</key>
<string>🕒</string>
<key>🕓</key>
<string>🕓</string>
<key>🕔</key>
<string>🕔</string>
<key>🕕</key>
<string>🕕</string>
<key>🕖</key>
<string>🕖</string>
<key>🕗</key>
<string>🕗</string>
<key>🕘</key>
<string>🕘</string>
<key>🕙</key>
<string>🕙</string>
<key>🕚</key>
<string>🕚</string>
<key>🕛</key>
<string>🕛</string>
<key>🕜</key>
<string>🕜</string>
<key>🕝</key>
<string>🕝</string>
<key>🕞</key>
<string>🕞</string>
<key>🕟</key>
<string>🕟</string>
<key>🕠</key>
<string>🕠</string>
<key>🕡</key>
<string>🕡</string>
<key>🕢</key>
<string>🕢</string>
<key>🕣</key>
<string>🕣</string>
<key>🕤</key>
<string>🕤</string>
<key>🕥</key>
<string>🕥</string>
<key>🕦</key>
<string>🕦</string>
<key>🕧</key>
<string>🕧</string>
</dict>
</plist>
